.catalog {
  padding-top: 14px;
  padding-bottom: 30px;
  background-color: #e25822;
  height: 113px;
}
.catalog__title {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: Mulish;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.sort {
  display: flex;
  justify-content: flex-start;
}

.sort-panel {
  box-sizing: border-box;
  padding-top: 13px;
  position: relative;
  z-index: 10;
}
.sort-panel .filter {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0%;
  padding-top: 13px;
  width: 170px;
  position: relative;
  z-index: 10;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.sort-panel .filter[open] {
  background: rgb(255, 255, 255);
  box-shadow: 5px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.sort-panel .filter[open] {
  color: #e25822;
}
.sort-panel .filter[open] path {
  fill: #e25822;
}
.sort-panel .filter__svg path {
  fill: rgb(255, 255, 255);
}
.sort-panel .filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.sort-panel .filter__content {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  flex-direction: column;
}
.sort-panel .filter__link {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0%;
  color: #e25822;
  transition: 0.3s;
}
.sort-panel .filter__link:hover {
  opacity: 0.5;
}
.sort-panel .sort__content {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  flex-direction: column;
}
.sort-panel .sort__content .sort__link {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0%;
  color: #e25822;
  transition: 0.3s;
}
.sort-panel .sort__content .sort__link:hover {
  opacity: 0.5;
}

.products {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.products .product {
  width: 300px;
  border: 1px solid rgb(240, 240, 240);
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  padding: 10px 10px 20px 10px;
}
.products .product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.products .product__name {
  padding: 5px;
  border-radius: 10px;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0%;
  height: 50px;
  color: black;
}
.products .product__description {
  padding: 5px;
  border-radius: 10px;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0%;
  height: 100px;
}
.products .product__price {
  padding: 5px;
  border-radius: 10px;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0%;
  color: #e25822;
}
.products .product__button {
  background-color: #e25822;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0%;
  color: #fff;
  border: solid 1px rgb(244, 244, 244);
  transition: 0.3s;
  cursor: pointer;
}
.products .product__button:active {
  font-size: 11px;
}
.products .product__button:hover {
  color: #e25822;
  background-color: #fff;
  border: solid 1px #e25822;
}

@media (max-width: 1024px) {
  .products {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
  }
}
@media (max-width: 450px) {
  .products {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 10px;
  }
  .products .product {
    width: 250px;
  }
  .products .product__name {
    font-size: 16px;
    font-weight: 600;
  }
  .products .product__description {
    font-size: 10px;
    font-weight: 300;
    height: 70px;
  }
  .products .product__price {
    font-size: 14px;
  }
}/*# sourceMappingURL=catalogStyle.css.map */