@charset "UTF-8";
.registaration {
  display: flex;
  gap: 128px;
  margin-top: 64px;
  margin-bottom: 96px;
}
.registaration__form_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.registaration .registaration__form_box__heading {
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.registaration .radio__box {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}
.registaration__input {
  width: 360px;
  height: 45px;
  box-sizing: border-box;
  padding-left: 17px;
  padding-top: 13px;
  padding-bottom: 16px;
  border: 1px solid rgb(164, 164, 164);
}
.registaration__input::-moz-placeholder {
  color: rgb(177, 177, 177);
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
}
.registaration__input::placeholder {
  color: rgb(177, 177, 177);
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
}
.registaration .rules_for_form {
  max-width: 360px;
  color: rgb(177, 177, 177);
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  margin-top: -5px;
  margin-bottom: 14px;
}
.registaration .registaration__form_box__button {
  background: rgb(241, 109, 127);
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  padding: 16px 30px;
  border: none;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.registaration .label_for_radio {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
}
.registaration .label_for_radio2 {
  margin-right: 10px;
}
.registaration .registration__info {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.registaration .registration__info__heading {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
}
.registaration .registration__info__about {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  max-width: 652px;
}
.registaration .registration__info .registaration__info__list {
  list-style: none;
}
.registaration .registration__info .registaration__info__list .registration__info__list__li {
  padding-left: 33px;
  position: relative;
  margin: 16px;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.registaration .registration__info .registaration__info__list .registration__info__list__li::before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
}

@media (max-width: 1024px) {
  .registaration {
    display: flex;
    gap: 22px;
    margin-top: 40px;
    margin-bottom: 96px;
  }
  .registaration .registration__info {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  .registaration .registration__info__heading {
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
  .registaration .registration__info__about {
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0%;
  }
  .registaration .registration__info .registaration__info__list .registration__info__list__li {
    padding-left: 33px;
    position: relative;
    margin: 16px;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0%;
  }
}
@media (max-width: 450px) {
  .registaration {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    flex-direction: column;
  }
}/*# sourceMappingURL=styleRegistration.css.map */