.top_head {
  display: flex;
  justify-content: space-between;
  background-color: rgb(248, 243, 244);
  padding-top: 60px;
  padding-bottom: 60px;
}
.top_head .top-head__heading {
  color: rgb(241, 109, 127);
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.top_head .breadcrumps .breadcrumps_link {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(99, 99, 99);
}
.top_head .breadcrumps .main_breadcrumps_link {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(241, 109, 127);
}

.catalog_of_products .filter_and_setting_sort {
  height: 132px;
  position: relative;
  display: flex;
  padding-top: 39px;
  gap: 30px;
  box-sizing: border-box;
}
.catalog_of_products .filter_and_setting_sort .filter {
  box-sizing: border-box;
  padding-top: 13px;
  width: 360px;
  position: relative;
  z-index: 10;
}
.catalog_of_products .filter_and_setting_sort .filter[open] {
  background: rgb(255, 255, 255);
  box-shadow: 5px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.catalog_of_products .filter_and_setting_sort .filter[open] .filter__heading {
  color: rgb(241, 109, 127);
}
.catalog_of_products .filter_and_setting_sort .filter[open] path {
  fill: rgb(241, 109, 127);
}
.catalog_of_products .filter_and_setting_sort .filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.catalog_of_products .filter_and_setting_sort .filter__heading {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
.catalog_of_products .filter_and_setting_sort .filter__content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.catalog_of_products .filter_and_setting_sort .filter__item {
  margin-top: 16px;
}
.catalog_of_products .filter_and_setting_sort .filter__head {
  color: rgb(111, 110, 110);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 8px 11px 11px;
  margin-bottom: 24px;
  border-left: 5px solid rgb(241, 109, 127);
  border-bottom: 1px solid rgb(235, 235, 235);
}
.catalog_of_products .filter_and_setting_sort .filter__item[open] .filter__head {
  color: rgb(241, 109, 127);
}
.catalog_of_products .filter_and_setting_sort .filter .category_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  padding: 24px 16px;
}
.catalog_of_products .filter_and_setting_sort .filter .category_menu .category_menu_link {
  color: rgb(111, 110, 110);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.catalog_of_products .filter_and_setting_sort .filter .category_menu .category_menu_link:hover {
  color: rgb(241, 109, 127);
}
.catalog_of_products .filter_and_setting_sort .sort {
  display: flex;
  gap: 28px;
  padding-top: 12px;
}
.catalog_of_products .filter_and_setting_sort .sort__details {
  position: relative;
}
.catalog_of_products .filter_and_setting_sort .sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.catalog_of_products .filter_and_setting_sort .sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: rgb(111, 110, 110);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.catalog_of_products .filter_and_setting_sort .sort__heading {
  color: rgb(111, 110, 110);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.catalog_of_products .filter_and_setting_sort .sort__box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  padding: 7px 30px 11px 9px;
  position: absolute;
  z-index: 1;
  top: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.products .products_card {
  background: rgb(243, 238, 239);
  text-decoration: none;
  transition: 0.2s;
  position: relative;
}
.products .products_card::after {
  content: url(images/Hover.svg);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  display: none;
}
.products .products_card:hover::after {
  display: block;
}
.products .text_in_card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.products .text_in_card .title_products_card {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.products .text_in_card .description {
  color: rgb(93, 93, 93);
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.products .text_in_card .price {
  color: rgb(241, 109, 127);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_container {
  display: flex;
  justify-content: center;
}
.slider_container .slider {
  display: flex;
  gap: 18px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(235, 235, 235);
  padding: 12px 15px;
  width: 202px;
  height: 19px;
  margin-top: 48px;
  margin-bottom: 96px;
}
.slider_container .slider .slider_button {
  border: none;
  background: none;
  cursor: pointer;
}
.slider_container .slider .slider_button .button_arrow {
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: 4px;
}
.slider_container .slider .slider_links {
  display: flex;
  gap: 15px;
}
.slider_container .slider .slider_links .slider_link:first-of-type {
  color: rgb(241, 109, 127);
}
.slider_container .slider .slider_links .slider_link {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(196, 196, 196);
}

@media (max-width: 1024px) {
  .catalog_of_products .filter_and_setting_sort {
    justify-content: space-between;
  }
  .catalog_of_products .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (max-width: 450px) {
  .top_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 24px;
    padding-bottom: 46px;
  }
  .catalog_of_products .filter_and_setting_sort {
    height: 81px;
    position: relative;
    display: flex;
    padding-top: 26px;
    box-sizing: border-box;
  }
  .catalog_of_products .filter_and_setting_sort .filter__heading {
    display: none;
  }
  .catalog_of_products .filter_and_setting_sort .filter__content {
    position: absolute;
  }
  .catalog_of_products .filter_and_setting_sort .sort {
    gap: 24px;
  }
  .catalog_of_products .filter_and_setting_sort .sort__heading {
    color: rgb(111, 110, 110);
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
  .catalog_of_products .filter_and_setting_sort .sort__summary {
    gap: 9px;
  }
  .catalog_of_products .filter_and_setting_sort .sort .for_smartphone {
    width: 96px;
    height: 14px;
  }
  .catalog_of_products .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}/*# sourceMappingURL=styleCatalog.css.map */